html {
    min-width: 1210px;
    background-color: #fdfcf8;
    overflow: scroll;
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    height:100%;
}
h1{
    letter-spacing: -.5px;
    margin-bottom: 3rem;
    word-break: break-word
}
p {
    margin: 1rem 0;
}
.wrapper {
    width: 800px;
    margin: 0px auto;
    height:100%;
}
.content{
    padding: 3rem;
    box-shadow: 0px 0px 10px 0px #888888;
    border-radius: 0.7em;
    display: flex;
}
.main-content {
    padding: 1rem;
    overflow-wrap: break-word;
    float: left;
    background: transparent;
}
.main-content ul li {
    margin: .5rem 0;
    display: block;
}
