html {
    min-width: 1210px;
    background-color: #fdfcf8;
    overflow: scroll;
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    height:100%;
}
h1{
    letter-spacing: -.5px;
    margin-bottom: 3rem;
    word-break: break-word;
}
p {
    margin: 1rem 0;
}
.wrapper {
    width: 800px;
    margin: 0px auto;
    height:100%;
}
.main-content{
    padding: 0 3rem;
    box-shadow: 0px 0px 10px 0px #888888;
    border-radius: 0.7em;
    /*display: flex;*/
}
.content {
    padding: 1rem;
    overflow-wrap: break-word;
    /*float: left;*/
    background: transparent;
}
.content ul li {
    margin: .5rem 0;
    display: block;
    word-break: break-all;/*强制性换行*/
}
.del{
    text-decoration: line-through;
}

@media screen and (max-width: 740px){
    body {
        padding: 0;
    }
    .wrapper {
        width: 100%;
    }
    .main-content{
        min-width: 300px;
        width: auto;
        padding: 0;
    }
    .content {

    };
}
